%h1
  Professor Xavier wants to assign Tasks to Mutants
%p.lead
  Professor Xavier just found a tool that allows him to easily form various Groups of Mutants and assign different Tasks to those Groups.