%h2 Task Details

= simple_form_for @task, url: @task.persisted? ? task_path(@task) : tasks_path, html: {id: 'task_form'} do |f|
  .form-group
    = f.input :name, input_html: {id: 'task_name', class: 'form-control'}, placeholder: 'Give Task Name'
  = f.submit id: 'save_task', class: 'btn btn-default'