- unless @groups.blank?
  %table#group_list
    %thead
      %tr
        %th ID
        %th Name
        %th Mutants
        %th Tasks
    %tbody
      - @groups.each do |g|
        %tr
          %td= g.id
          %td= link_to g.name, edit_group_path(g)
          %td
            Mutants
            %span#number_of_mutants= g.mutants.count
          %td
            Tasks
            %span#number_of_tasks= g.tasks.count